* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #212529;
}
.container {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}
#carousel {
    margin: 0 auto;
    max-width: 800px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
}
.controls {
	margin-top: 20px;
	text-align: center;
	padding: 0;
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	margin-bottom: 5px;
}
.controlStyle {
	display: inline-block;
	margin-right: 2px;
	position: relative;
	cursor: pointer;
}
.fired {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
